
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {

    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;



    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


/*  genal style  */



footer {
    background: var(--color-primary);
    color: white;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;

}

/* footer a {
    color: var(--color-bg)
} */

.footer_logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    /* color:white; */
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer_socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;

}

.footer_socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg)
}

.footer_copyright {
    margin-bottom: 4rem;
    color: white;
}


/* media query mobile  */

@media screen and (max-width: 600px) {
    .permalinks {
        /* display: flex;
         */
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer_socials {
        margin: 2.6rem;
    }


}